<a href="https://colab.research.google.com/github/th2ry95/Data-Science-Portfolio/blob/main/L'Art_de_la_Fusion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Générer tes notre sources de données

In [1]:
#Importation de la bibliothèque
import pandas as pd

# Fichier 1 : Les transactions (Ventes)
ventes_data = {
    'Transaction_ID': [101, 102, 103, 104, 105],
    'Product_ID': ['P001', 'P003', 'P001', 'P002', 'P003'],
    'Quantite': [2, 1, 5, 2, 3]
}
df_ventes = pd.DataFrame(ventes_data)

# Fichier 2 : Le catalogue (Produits)
produits_data = {
    'Product_ID': ['P001', 'P002', 'P003'],
    'Nom_Produit': ['Clavier Sans Fil', 'Souris Gaming', 'Écran 4K'],
    'Prix_Unitaire': [45, 25, 300],
    'Categorie': ['Accessoires', 'Accessoires', 'Écrans']
}
df_catalogue = pd.DataFrame(produits_data)

print("Les deux fichiers sont prêts à être fusionnés !")

Les deux fichiers sont prêts à être fusionnés !

In [2]:
#Affichons la base de donné(ventes_data)

df_ventes.head()

   Transaction_ID Product_ID  Quantite
0             101       P001         2
1             102       P003         1
2             103       P001         5
3             104       P002         2
4             105       P003         3

In [3]:
#Affichons la base de donné(produits_data)
df_catalogue.head()

  Product_ID       Nom_Produit  Prix_Unitaire    Categorie
0       P001  Clavier Sans Fil             45  Accessoires
1       P002     Souris Gaming             25  Accessoires
2       P003          Écran 4K            300       Écrans

#Comment créer un seul grand tableau qui contient TOUTES les infos (Ventes + Catalogue) grâce à leur point commun (Product_ID) ?

In [4]:
# On fusionne nos deux base de données pour n'en faire qu'une

merged_df = df_ventes.merge(df_catalogue)
merged_df

,Transaction_ID,Product_ID,Quantite,Nom_Produit,Prix_Unitaire,Categorie
0,101,P001,2,Clavier Sans Fil,45,Accessoires
1,102,P003,1,Écran 4K,300,Écrans
2,103,P001,5,Clavier Sans Fil,45,Accessoires
3,104,P002,2,Souris Gaming,25,Accessoires
4,105,P003,3,Écran 4K,300,Écrans

# Trouvons le CA de l'entreprise

In [5]:
# On va calculer le CA suite à notre calcul suivant Pu * Qa

merged_df['Total_vente'] = merged_df['Prix_Unitaire'] * merged_df['Quantite']

In [6]:
# Observons le résultat
merged_df

,Transaction_ID,Product_ID,Quantite,Nom_Produit,Prix_Unitaire,Categorie,Total_vente
0,101,P001,2,Clavier Sans Fil,45,Accessoires,90
1,102,P003,1,Écran 4K,300,Écrans,300
2,103,P001,5,Clavier Sans Fil,45,Accessoires,225
3,104,P002,2,Souris Gaming,25,Accessoires,50
4,105,P003,3,Écran 4K,300,Écrans,900

# Terminons avec une analyse croisé en foctions de la catégorie par rapport au chiffre d'affaire pour voir la plus rentable

In [7]:
merged_df.groupby('Categorie')['Total_vente'].sum().sort_values(ascending=False)

Categorie
Écrans         1200
Accessoires     365
Name: Total_vente, dtype: int64

 Le calcul du chiffre d'affaires total par catégorie révèle que la catégorie 'Écrans' est la plus performante, générant un total de 1200. En comparaison, la catégorie 'Accessoires' a contribué à hauteur de 365 au chiffre d'affaires. Ces résultats indiquent clairement que les 'Écrans' représentent la catégorie de produits la plus rentable pour l'entreprise.